<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ student.stu_name }}</title>
    <link rel="stylesheet" href="{% static "/css/uikit.css"%} "/>
    <link rel="stylesheet" href="{% static "/css/main.css"%} "/>
</head>
<body>
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <h1>Student Portal</h1>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/home">Home</a></li>
            <li class="uk-active">
                 <a uk-icon="icon: chevron-down; ratio: 1.3" href="#">Options</a>
                <div class="uk-navbar-dropdown" >
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/home/pay" id="a-pay">Pay Fees</a></li>
                        <li><a href="/home/result">Result</a></li>
                        <li><a href="/home/notifications">Notifications</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a uk-icon="icon: chevron-down; ratio: 1.3" href="#"><img class="uk-border-rounded" src="{{ student.stu_image_url }}" width="35" height="35" alt="{{ student.stu_name }}">{{student.stu_name  }}</a>
                <div class="uk-navbar-dropdown" >
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/home/profile">Profile</a></li>
                        <li><a href="#modal-example" uk-toggle>Change Password</a></li>
                        <li><a href="/user/logout">Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
 {% block content %}
 {% endblock %}

<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <form method="post" action="/user/change_password">
            {% csrf_token %}
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">Change Password</legend>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Old Password</label>
                <input class="uk-input" type="password" name="old_password" placeholder="Old Password">
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">New Password</label>
                <input class="uk-input" type="password" name="new_password" placeholder="New Password">
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-width-1-4 uk-align-right" type="submit" value="Change">
            </div>
        </fieldset>
      </form>
    </div>
</div>
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-right">
{#        <ul class="uk-nav uk-navbar-dropdown-nav footer">#}
{#            <li><a href="#">Link 1</a></li>#}
{#            <li><a href="#">Link 2</a></li>#}
{#            <li><a href="#">Link 3</a></li>#}
{#        </ul>#}
    </div>
</nav>
<script src="{% static  "/js/jquery.js"  %}"></script>
<script src="{% static  "/js/uikit.js"  %}"></script>
<script src="{% static  "/js/uikit-icons.js"  %}"></script>
<script src="{% static  "/js/main.js"  %}"></script>
</body>
</html>