{% extends 'layout.html' %}
{% block content %}
    <br><br><br>
    <div class="uk-child-width-1-4@s uk-grid-match" uk-grid>
        {% for notifi in notification %}
            <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">{{ notifi.notification_title }}</h3>
                <p>{{ notifi.notification_text }}</p>
                <a href="{{ notifi.notification_attachment_url }}" class="uk-align-right" uk-icon="icon: download; ratio: 2"></a>
<!-- {#                <p> : {{ res.stu_percent }}</p>#} -->
            </div>
        </div>
        {% endfor %}
    </div>
     <br><br>

{% endblock %}